@charset "UTF-8";

/**Tela de Login**/
*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor0PR: #0AEDAD;
    --cor1: #52F0C3;
    --cor2: #046E50;
    --cor3: #256E59;
    --cor4: #8a2be2; 
}

body{
    display: flex;
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
}

#login-tela{
    display: flex;
    width: 100%;
}
main{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

#conteiner-login-div{
    position: relative;
    background-image: linear-gradient(to bottom, var(--cor0PR), var(--cor3));
}

#login-div{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    padding: 10px;
    background-color: var(--cor1);
    border: 2px solid blueviolet;
    gap: 5px;
}

.Login-partes{
    width: 100%;
    height: 100%;
}
#Login-cabeçalho h1{
    color: var(--cor4);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#Login-cabeçalho p{
    margin-top: 10px;
    color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

#Login-Informações{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bloco-info{
    background-color: var(--cor4);
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 5px;
}

#name{
    font-size: 1.2em;
    text-indent: 10px;
    width: 95%;
    height: 90%; 
    border: 2px solid var(--cor0PR);
    border-radius: 10px;   
}


#senha{
    font-size: 1.2em;
    text-indent: 10px;
    width: 95%;
    height: 90%; 
    border: 2px solid var(--cor0PR);
    border-radius: 10px;  
}
#name:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#senha:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#img-name{
    width: 100%;
    height: 100%;
    background-image: url("tela-login/face.svg");
    
}

#img-senha{
    width: 100%;
    height: 100%;
    background-image: url("tela-login/senha.svg");
}

.img-info{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

#img{
    background-image: url("tela-login/pexels-anastasia-shuraeva-4406643.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Login-footer{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#logar{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    border: 2px solid var(--cor4);
    background-color: var(--cor0PR);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor4);
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

#logar:hover{
    cursor: pointer;
    color: var(--cor0PR);
    background-color: var(--cor4);
    border: 2px solid var(--cor3);
}

#logo{
    width: 100%;
    height: 60%;
    background-image: url("tela-login/Logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#logo2{
    display: none;
}

#logo2 > img{
    width: 100%;
    height: 100%;
}


#divisor{
    width: 10px;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    
}
.main-child{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}


#erro{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--cor4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid var(--cor0PR);
    display: none;
    text-align: center;
}

#erro > h1{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--cor0PR);
}

#erro button{
    cursor: pointer;
    margin-top: 5px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--cor4);
    color: var(--cor4);
    background-color: var(--cor0PR);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#erro button:hover{
    color: var(--cor0PR);
    background-color: var(--cor4);
    border: 2px solid var(--cor3);
}


/**Tela de Login**/
/**Dlow-home**/
/**Header**/
:root{
    --cordlow: #ffffff;
    --cordlow1: #ececec;
    --cordlow2: #262626;
}

#Tela-Dlow{
    display: none;
}

#header-header{
    z-index: 9999;
    width: 100%;
    position: fixed;
}

#header-Dlow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 5px;
    flex-direction: row;
    background-color: var(--cordlow);
    border: 1px solid var(--cordlow2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.479);
}

#logo-header{
    position: absolute;
    left: 1%;
    transform: translate(-1%);
    width: 50px;
    height: 50px;
    background-image: url("tela-login/Logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pesquisa{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("tela-login/lupa.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}


#home{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("tela-login/home.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

#menu{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("tela-login/menu.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

#perfil{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("tela-login/perfil.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#perfil-divider{
    position: absolute;
    left: 98%;
    transform: translate(-98%);
}


#pesquisa:hover{
    background-color: var(--cordlow1);
    border-radius: 20px;
    border: 1px solid var(--cordlow2);
    box-sizing: border-box;
    cursor: pointer;
}

#home:hover{
    background-color: var(--cordlow1);
    border-radius: 20px;
    border: 1px solid var(--cordlow2);
    box-sizing: border-box;
    cursor: pointer;
}

#menu:hover{
    background-color: var(--cordlow1);
    border-radius: 20px;
    border: 1px solid var(--cordlow2);
    box-sizing: border-box;
    cursor: pointer;
}

.child-header-dlow{
    display: inline-block;
}

#nome-usuario{
    display: none;
    position: absolute;
    top: 110%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

#info-pesquisar{
    display: none;
    position: absolute;
    top: 108%;
    left: -38%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);

}

#barrapesquisa{
    width: 20vw;
    height: 50%;
    border: 2px solid var(--cordlow2);
    display: none;
    margin-right: 5px;
}

#info-home{
    display: none;
    position: absolute;
    top: 108%;
    left: -38%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

#info-menu{
    display: none;
    position: absolute;
    top: 108%;
    left: -15%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

/**Menu**/
.opcoes{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.opcoes:hover{
    background-color: var(--cordlow1);
    border-radius: 20px;
    border: 1px solid var(--cordlow2);
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
}

#notificacoes{
    position: relative;
    background-image: url("tela-login/notificações.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}   


#grupos{
    position: relative;
    background-image: url("tela-login/grupos.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

#menssagens{
    position: relative;
    background-image: url("tela-login/menssagem.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

#postar{
    position: relative;
    background-image: url("tela-login/postar.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

#info-notificações{
    display: none;
    position: absolute;
    top: 6%;
    left: -220%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

#info-grupos{
    display: none;
    position: absolute;
    top: 6%;
    left: -150%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

#info-menssagens{
    display: none;
    position: absolute;
    top: 6%;
    left: -210%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

#info-publicar{
    display: none;
    position: absolute;
    top: 6%;
    left: -170%;
    text-align: center;
    background-color: var(--cordlow);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cordlow2);
}

#menu-divider{
    position: relative;
}
#menuon{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 110%;
}

/**Menu**/

/**Header**/

/**Pagina Principal**/
#divisor-paginas{
    height: 55px;
}
#pagina-principal{

    margin-top: 5px;
    text-align: center;
    height: 50px;
}

#pagina-principal > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 10px 0;
}

#pagina-principal > p{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/**Carrocel**/

.slider{
    margin: 0 auto;
    width: 100vw;
    height: 400px;
    overflow: hidden;
  }

  .slides{
    width: 400%;
    height: 200px;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 25%;
    position: relative;
  }

  .slide img{
    width: 100vw;
  }

  .manual-navigation{
    position: absolute;
    width: 100vw;
    margin-top: -60px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background-color: #ffff;
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -25%;
  }

  #radio3:checked ~ .first{
    margin-left: -50%;
  }

  #radio4:checked ~ .first{
    margin-left: -75%;
  }

  #radio5:checked ~ .first{
    margin-left: -100%;
  }

  .navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .navigation-auto{
    position: absolute;
    width: 100vw;
    margin-top: 140px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: black;
  }

  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #ffff;
  }

  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #ffff;
  }

  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #ffff;
  }

  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #ffff;
  }

  #texto{
    font-size: 0.6em;
    position: absolute;
    width: 100vw;
    margin-top: -110px;
    display: flex;
    justify-content: center;
  }

  #links{
    gap: 50vw;
    position: absolute;
    width: 100vw;
    margin-top: -190px;
    display: flex;
    justify-content: center;
  }

  .button{
    display: flex;
    width: 80px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
    border-radius: 10px;
    transition: 0.5s;
  }

  #Nome-do-site{
    font-family: Arial, Helvetica, sans-serif;
  }

  #github{
    color: purple;
    border: 2px solid purple;
  }

  #link_site{
    color: black;
  }

  #gitimg{
    width: 20px
  }

  #github:hover{
    background-color: purple;
    color: white;
    border: 2px solid black;
  }
  
  #link_site:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

/**Carrocel**/
/**Pagina Principal**/

/**Dlow-home**/