@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor0PR: #0AEDAD;
    --cor1: #52F0C3;
    --cor2: #046E50;
    --cor3: #256E59;
    --cor4: #8a2be2; 
}

body{
    height: 100%;
    width: 100%;
    background-color: red;
}

html{
    height: 100%;
}
main{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

#conteiner-login-div{
    position: relative;
    background-image: linear-gradient(to bottom, var(--cor0PR), var(--cor3));
}

#login-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    padding: 10px;
    background-color: var(--cor1);
    border: 2px solid blueviolet;
}

#login-div h1{
    color: var(--cor4);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#login-div p{
    color: var(--cor4);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#name{
    font-size: 1.2em;
    text-indent: 10px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border: 2px solid var(--cor0PR);
    margin-bottom: 5px;
    border-radius: 10px;
}


#senha{
    font-size: 1.2em;
    text-indent: 10px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border: 2px solid var(--cor0PR);
    margin-bottom: 5px;
    border-radius: 10px;

}
#name:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#senha:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.bloco-info{
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--cor4);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

#img-name{
    width: 100%;
    height: 100%;
    background-image: url("tela-login/face.svg");
    
}

#img-senha{
    width: 100%;
    height: 100%;
    background-image: url("tela-login/senha.svg");
}

.img-info{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 150%;
}


#img{
    background-image: url("tela-login/pexels-anastasia-shuraeva-4406643.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#divisor{
    width: 10px;
    background-image: linear-gradient(to bottom, blueviolet, aqua);
    
}
.main-child{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

#logar{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--cor4);
    background-color: var(--cor0PR);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor4);
    margin-bottom: 10px;
}

#logo{
    width: 100%;
    height: 60px;
    background-image: url("tela-login/Logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#logar:hover{
    color: var(--cor0PR);
    background-color: var(--cor4);
    border: 2px solid var(--cor3);
}