@charset "UTF-8";


@media screen and (max-width: 1000px) and (max-height: 550px){
    #login-div h1{
        font-size: 1.5em;
    }

    #login-div p{
        font-size: 1.2em;
    }

    #name{
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        font-size: 1em;
    }

    #senha{
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        font-size: 1em;
    }

    .bloco-info{
        padding: 2px;
    }

    #logar{
        height: 30px;
        font-size: 1.2em;
    }

    #logo{
        height: 40px;
    }
}

